@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #f2f2f2;
}

body::-webkit-scrollbar {
    display: none;
}

.navbar {
    background-color: white;
    height: 67px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    top: 0;
}

.nav-logo {
    height: 40px;
    width: 160px;
}

.logo {
    background-image: url("logo.svg");
    background-size: cover;
    height: 40px;
    width: 100%;
}

.nav-search {
    display: flex;
    height: 40px;
    width: 584px;
    background-color: #f0f5ff;
    border-radius: 6px;
}

.searchIcon {
    height: 40px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.15rem;
    border-radius: 6px;


}

.searchInput {
    width: 100%;
    border: none;
    background-color: #f0f5ff;
    font-size: 1.15rem;
}

.nav-sec {
    height: 42px;
    width: 532px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-log {
    height: 42px;
    width: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;

}

.nav-log:hover {
    background-color: #2A55E5;
    border-radius: 10px;

}

.log-select {
    border: none;
    margin-left: 4px;
    font-size: 1.1rem;
    background-color: transparent;
}

.nav-cart {
    width: 104.5px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-shop {
    width: 193.84px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-dot {
    width: 82px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* shop-opt */

.shop-opt {
    height: 126px;
    width: 1334px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-size: cover;
    margin-top: 77px;
    margin-left: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;


}

.opt {
    height: 126px;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.opt-img {
    height: 64px;
    width: 64px;
    background-size: cover;
}

.opt p {
    margin-top: 12px;
    font-size: 0.9rem;
}

.wrapper {
    width: 1334px;
    display: flex;
    animation: slide 10s infinite;
    margin-left: 10px;
}

.wrapper img {
    width: 100%;
}

/* sliding */

.slideshow-container {
    position: relative;
    margin: auto;
    width: 1334px;
    margin-top: 10px;
    overflow: hidden;
}

.wrapper {
    width: 1334px;
    display: flex;
    animation: slide 10s infinite;

}

.wrapper img {
    width: 1325px;
}


.myslides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 10px;
    height: 50px;
    padding: 16px;
    margin-top: -45px;
    color: #acacac;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */




.dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0px 2px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

}

.dot-sec {
    background-color: transparent;
    position: absolute;
    top: 87.5%;
    left: 50%;
    width: auto;
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 4px;

}

.active,
.dot:hover {
    background-color: white;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-300%);
    }
}

/* shop-items */

.shop-container {
    height: 356px;
    width: 1334px;
    background-color: white;
    margin-top: 10px;
    margin-left: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.shop-items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.shop-heading {
    height: 64px;
    width: 1190px;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
    padding-left: 18px;
}

.items {
    height: 252px;
    width: 200px;
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
    text-align: center;
    font-size: 0.85rem;
}

.item-img {
    width: 100%;
    display: block;
    margin: auto;
    object-fit: contain;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    margin-bottom: 12px;

}

.items span {
    padding-top: 13px;
}

.items p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9rem;
    padding-top: 2px;
}

.foot-container {
    background-color: #212121;
    height: 354px;
    width: 100%;
}

.foot-content {
    height: 285px;
    width: 100%;
    border-bottom: 0.5px solid #69686D;
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-top: 40px;
}

.foot-content ul a {
    display: block;
    color: white;
    padding-top: 2px;
}

.foot-content ul span {
    display: block;
    color: white;
    padding-top: 2px;
}

.foot-content ul p {
    color: #69686D;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 10px;
}

.content {
    border-right: 0.5px solid #69686D;
    height: 200px;
    padding-right: 45px;
}

.foot-content2 span {
    color: white;
}

.foot-content2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 69px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.85rem;

}

.foot-content2 i {
    font-size: 0.7rem;
    padding-right: 6px;
}